/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Pol";
  src: url("../fonts/../fonts/fjPlatzGroteske-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: "Pol", sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  color: #fff;
  font-size: 16px;
  height: 100%;
  background-color: #252323;
  position: relative;
}
.page__body::after {
  content: "";
  position: fixed;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.85))), url("../img/bg.png");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 70%), url("../img/bg.png");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 70%), url("../img/bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  .page__body::after {
    background-size: cover;
    background-position: center bottom;
  }
}
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  min-height: 100%;
}

.bg-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav-menu {
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  -o-transition: transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
.nav__item:last-child {
  margin: 0;
}

.nav__link {
  color: #fff;
  font-size: 21px;
}

.nav__icon {
  display: none;
}
.nav__icon:last-child {
  margin: 0;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    color: #fff;
  }

  .nav-menu {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .menu--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav__list {
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
  }

  .nav__item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
  }
  .nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #bdb76b;
  }
  .nav__item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #bdb76b;
  }
  .nav__item:last-child::after {
    display: none;
  }

  .nav__icon {
    display: block;
    fill: #fff;
    width: 35px;
    height: 35px;
  }

  .nav__link {
    padding-left: 20px;
  }
}
@media (max-width: 576px) {
  .nav__item {
    margin-right: 10px;
  }
}
.toggle-lang {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-family: "Pol";
  letter-spacing: 2px;
}
.toggle-lang__checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 10px;
  width: 50px;
  cursor: pointer;
}
.toggle-lang__checkbox::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #bdb76b;
  border-radius: 25px;
}
.toggle-lang__checkbox:checked::before {
  background: #bdb76b;
}
.toggle-lang__checkbox::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #918888;
  border-radius: 25px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border: 2px solid #bdb76b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.toggle-lang__checkbox:checked::after {
  left: 25px;
  border: 2px solid #bdb76b;
}

.my-info {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.my-info__content {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}
.my-info__subtitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
}
.my-info__title {
  font-size: 57px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.my-info__title span {
  color: #bdb76b;
}
.my-info__download-resume {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}
.my-info__download-resume::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-top: 2px solid #bdb76b;
  border-left: 2px solid #bdb76b;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.my-info__download-resume::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #bdb76b;
  border-right: 2px solid #bdb76b;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.my-info__download-resume:hover::before {
  width: 100%;
  height: 100%;
}
.my-info__download-resume:hover::after {
  width: 100%;
  height: 100%;
}

.hide-elements {
  position: static;
}
.hide-elements:after, .hide-elements::before {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.social__link {
  margin-right: 20px;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link svg {
  width: 35px;
  height: 35px;
  fill: #918888;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.social__link svg:hover {
  fill: #bdb76b;
}

@media (max-width: 768px) {
  .my-info__subtitle {
    margin-bottom: 10px;
  }
  .my-info__title {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .social {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .my-info {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0px 0px 100px;
  }
  .my-info__title {
    font-size: 19px;
  }
  .my-info__content {
    text-align: center;
    width: 100%;
  }

  .social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social .social__link svg {
    width: 30px;
    height: 30px;
  }
}
.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #252323;
  z-index: 100000;
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.preloader__loader, .preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.preloader__percents {
  font-size: 24px;
  font-weight: 700;
}

@-webkit-keyframes ldio-6u3plm6m91y {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ldio-6u3plm6m91y {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ldio-6u3plm6m91y div {
  position: absolute;
  -webkit-animation: ldio-6u3plm6m91y 0.87s linear infinite;
  animation: ldio-6u3plm6m91y 0.87s linear infinite;
  width: 114.1px;
  height: 114.1px;
  top: 24.45px;
  left: 24.45px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3.749px 0 0 rgba(189, 183, 107, 0.7046452381);
  box-shadow: 0 3.749px 0 0 rgba(189, 183, 107, 0.7046452381);
  -webkit-transform-origin: 57.05px 58.9245px;
  -ms-transform-origin: 57.05px 58.9245px;
  transform-origin: 57.05px 58.9245px;
}

.loadingio-spinner-eclipse-zkb2yqi6scr {
  width: 163px;
  height: 163px;
  display: inline-block;
  overflow: hidden;
  background: #252323;
}

.ldio-6u3plm6m91y {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-6u3plm6m91y div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.preloader--hide {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.about {
  padding: 50px 0px;
}
.about__content {
  margin-bottom: 100px;
}
.about__text {
  max-width: 70%;
  line-height: 1.4;
  font-size: 20px;
  margin: 0;
}
.about__skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}
.about__skill:last-child {
  margin: 0;
}
.about__progress {
  margin-bottom: 20px;
}
.about__progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: transparent;
  overflow: hidden;
}
.about__progress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#111111));
  background: -o-linear-gradient(bottom, #000000 0%, #111111 100%);
  background: linear-gradient(0deg, #000000 0%, #111111 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
.about__progress-num {
  font-size: 25px;
  font-weight: 700;
}
.about__progress-bar {
  position: absolute;
  bottom: -100%;
  width: 100px;
  height: 100px;
  background-color: #bdb76b;
  -webkit-transition: bottom 2s;
  -o-transition: bottom 2s;
  transition: bottom 2s;
}

@media (max-width: 768px) {
  .about__text {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .about__content {
    margin-bottom: 70px;
  }
  .about__skills-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about__skill {
    margin: 0 0 30px;
  }
  .about__skill:last-child {
    margin: 0;
  }
}
.title {
  position: relative;
  margin-bottom: 30px;
}
.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #bdb76b;
}

.main-title {
  padding-left: 15px;
  font-size: 40px;
  font-weight: bold;
}

.big-title {
  padding-left: 15px;
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 60px;
  font-weight: bold;
  color: rgba(204, 201, 201, 0.16);
}
/*# sourceMappingURL=main.css.map */