.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.nav-menu {
  transition: transform ease 0.3s;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
  &:last-child {
    margin: 0;
  }
}
.nav__link {
  color: $white-color;
  font-size: 21px;
}
.nav__icon {
  display: none;
  &:last-child {
    margin: 0;
  }
}

.burger {
  @include burger;
  display: none;
}

@include small-tablet {
  .burger {
    display: block;
    color: $white-color;
  }
  .nav-menu {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .menu--active {
    transform: translateX(0);
  }
  .nav__list {
    padding-top: 70px;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
  }

  .nav__item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $main-color;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $main-color;
    }
    &:last-child::after {
      display: none;
    }
  }

  .nav__icon {
    display: block;
    fill: $white-color;
    width: 35px;
    height: 35px;
  }
  .nav__link {
    padding-left: 20px;
  }
}

@include mobile {
  .nav__item {
    margin-right: 10px;
  }
}

//toggle-lang
.toggle-lang {
  font-size: 10px;
  display: flex;
  align-items: center;
  color: $white-color;
  font-weight: 700;
  font-family: "Pol";
  letter-spacing: 2px;
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 10px;
    width: 50px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 25px;
      background-color: $main-color;
      border-radius: 25px;
    }
    &:checked::before {
      background: $main-color;
    }
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $social-link-color;
      border-radius: 25px;
      transition: 0.25s;
      border: 2px solid $main-color;
      box-sizing: border-box;
    }
    &:checked::after {
      left: 25px;
      border: 2px solid $main-color;
    }
  }
}
