.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.nav-menu {
  transition: transform ease 0.3s;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
  &:last-child {
    margin: 0;
  }
}
.nav__link {
  position: relative;
  color: $main-color;
  font-family: $font-family-Bold;
  color: $white-color;
  font-size: 21px;
  transition: color 0.4s;
  &:hover {
    color: $main-color;
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 3px;
    background-color: $main-color;
    transition: transform 0.4s;
  }
  &:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
}
.nav__icon {
  display: none;
  &:last-child {
    margin: 0;
  }
}

.burger {
  @include burger;
  display: none;
}

@include small-tablet {
  .burger {
    display: block;
    color: $white-color;
  }
  .nav-menu {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .menu--active {
    transform: translateX(0);
  }
  .nav__list {
    padding: 70px 0px 70px 50px;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
  }

  .nav__item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $main-color;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $main-color;
    }
    &:last-child::after {
      display: none;
    }
  }

  .nav__icon {
    display: block;
    fill: $white-color;
    width: 35px;
    height: 35px;
  }
  .nav__link {
    margin-left: 20px;
  }
}

@include mobile {
  .nav__item {
    margin-right: 10px;
  }
}

.toggle-lang {
  font-family: $font-family-Semi-Bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: $white-color;
  font-weight: 700;
  letter-spacing: 2px;
  &__ru {
    padding-right: 10px;
  }
  &__eng {
    padding-left: 10px;
  }
  &__checkbox {
    position: relative;
    width: 45px;
    height: 20px;
    appearance: none;
    background: $bg-color;
    outline: none;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: inset 0 0 4px rgba(0, 0, 0.2);
    &:checked {
      background: $white-color;
    }
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      top: 0;
      left: 0;
      background: $main-color;
      transform: scale(1.1);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.4s;
    }
    &:checked::before {
      left: 25px;
    }
  }
}
