.pace__wrapper {
  width: 100%;
  height: 100%;
  background-color: $black-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pace {
  border-radius: 0;
}

.pace.pace-inactive {
  //display: block;
}

.pace .pace-progress {
  color: $main-color;
  background: $main-color;
  top: 0;
  font-family: $font-family;
  height: 5px;
  width: 97%;
  border-radius: 0px;
  box-shadow: 120px 0 $black-color, 240px 0 $black-color;
}

.pace.pace-progress-inner {
  background-color: $main-color;
}

.pace .pace-activity {
  width: none;
  height: 0;
  border-radius: 0px;
}

.pace .pace-progress:after {
  top: -5px;
}
