.title {
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $main-color;
  }
}

.main-title {
  position: relative;
  padding-left: 15px;
  font-size: 40px;
  font-weight: 700;
}
.big-title {
  font-weight: 700;
  display: block;
  padding-left: 15px;
  position: absolute;
  top: -25px;
  left: 0;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.151);
}

@include mobile {
  .title {
    margin-bottom: 30px;
  }
  .main-title {
    font-size: 30px;
  }
  .big-title {
    font-size: 37px;
    top: -15px;
  }
}

@media (max-width: 300px) {
  .main-title {
    font-size: 25px;
  }
  .big-title {
    font-size: 30px;
    top: -15px;
  }
}
