/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Mont";
  src: url("../fonts/../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/../fonts/Mont-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  height: 100%;
  font-family: "Mont", sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.simplebar-track.simplebar-vertical {
  background: #bdb76b;
}

.page__body {
  position: inherit !important;
  height: 100%;
  background-color: #1e1c1c;
  color: #fff;
  font-size: 16px;
  position: relative;
}
.page__body::after {
  content: "";
  position: fixed;
  background-image: url("../img/bg.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/bg.avif" type("image/avif"), "../img/bg.webp" type("image/webp"), "../img/bg.jpg" type("image/jpg"));
  background-image: image-set("../img/bg.avif" type("image/avif"), "../img/bg.webp" type("image/webp"), "../img/bg.jpg" type("image/jpg"));
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100vh;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .page__body::after {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(73%, rgb(9, 9, 9))), url("../img/bg.png");
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 50%, rgb(9, 9, 9) 73%), url("../img/bg.png");
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 50%, rgb(9, 9, 9) 73%), url("../img/bg.png");
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    background-image: -webkit-image-set("../img/bg.avif" type("image/avif"), "../img/bg.webp" type("image/webp"), "../img/bg.jpg" type("image/jpg"));
    background-image: image-set("../img/bg.avif" type("image/avif"), "../img/bg.webp" type("image/webp"), "../img/bg.jpg" type("image/jpg"));
  }
}
@media (max-width: 576px) {
  .page__body::after {
    background-position: center bottom;
    left: 0;
    z-index: -1;
  }
}
@media (max-width: 450px) {
  .page__body::after {
    background-size: cover;
  }
}
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.bg-content {
  margin-bottom: 100px;
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(34, 60, 80, 0.36);
  box-shadow: 0px 0px 16px 7px rgba(34, 60, 80, 0.36);
}

@media (max-width: 768px) {
  .bg-content {
    padding: 30px 20px;
  }
}
@media (max-width: 576px) {
  .bg-content {
    margin-bottom: 50px;
  }
}
.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.preloader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1c1c;
  z-index: 100000;
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.preloader__loader, .preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.preloader__percents {
  font-size: 24px;
  font-weight: 700;
}

@-webkit-keyframes ldio-6u3plm6m91y {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ldio-6u3plm6m91y {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ldio-6u3plm6m91y div {
  position: absolute;
  -webkit-animation: ldio-6u3plm6m91y 0.87s linear infinite;
  animation: ldio-6u3plm6m91y 0.87s linear infinite;
  width: 114.1px;
  height: 114.1px;
  top: 24.45px;
  left: 24.45px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3.749px 0 0 rgba(189, 183, 107, 0.7046452381);
  box-shadow: 0 3.749px 0 0 rgba(189, 183, 107, 0.7046452381);
  -webkit-transform-origin: 57.05px 58.9245px;
  -ms-transform-origin: 57.05px 58.9245px;
  transform-origin: 57.05px 58.9245px;
}

.loadingio-spinner-eclipse-zkb2yqi6scr {
  width: 163px;
  height: 163px;
  display: inline-block;
  overflow: hidden;
  background: #1e1c1c;
}

.ldio-6u3plm6m91y {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-6u3plm6m91y div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.preloader--hide {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.graph-modal__container {
  background-color: #1e1c1c;
  padding: 50px 30px;
  border: 1px solid grey;
  border-radius: 0;
}

.graph-modal__content {
  text-align: center;
  color: #fff;
  font-size: 23px;
}

.graph-modal__portfolio {
  text-align: left;
}

.graph-modal__close {
  position: static;
  width: 0;
  height: 0;
}

.modal-close {
  fill: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.graph-modal__descr {
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  line-height: 100%;
}

.graph-modal__link {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .graph-modal__content {
    font-size: 17px;
    padding: 0;
  }
}
.scroll-btn {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease ease-in-out;
  -o-transition-timing-function: ease ease-in-out;
  transition-timing-function: ease ease-in-out;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}
.scroll-btn .icon-scroll {
  width: 50px;
  height: 50px;
  fill: #bdb76b;
}

@media (max-width: 576px) {
  .scroll-btn {
    right: 15px;
    bottom: 15px;
  }
}
.btnEntrance {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
  animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: btnExit;
  animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.simplebar-scrollbar {
  z-index: -1;
}

.simplebar-track.simplebar-vertical {
  right: 5px;
  top: 20px;
  bottom: 20px;
  border-radius: 5px;
  width: 5px;
  background: rgba(77, 77, 77, 0.1);
}

.simplebar-scrollbar::before {
  left: 0;
  right: auto;
  border-radius: 5px;
  width: 5px;
  background: #bdb76b;
  opacity: 1;
}

.title {
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}
.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #bdb76b;
}

.main-title {
  position: relative;
  padding-left: 15px;
  font-size: 40px;
  font-weight: 700;
}

.big-title {
  font-weight: 700;
  display: block;
  padding-left: 15px;
  position: absolute;
  top: -25px;
  left: 0;
  font-weight: bold;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.151);
}

@media (max-width: 576px) {
  .title {
    margin-bottom: 30px;
  }

  .main-title {
    font-size: 30px;
  }

  .big-title {
    font-size: 37px;
    top: -15px;
  }
}
@media (max-width: 300px) {
  .main-title {
    font-size: 25px;
  }

  .big-title {
    font-size: 30px;
    top: -15px;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 4;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 10px 15px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 10px 15px -2px rgba(34, 60, 80, 0.2);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav-menu {
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  -o-transition: transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
.nav__item:last-child {
  margin: 0;
}

.nav__link {
  position: relative;
  color: #bdb76b;
  font-weight: 700;
  color: #fff;
  font-size: 21px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
@media (min-width: 1025px) {
  .nav__link:hover {
    color: #bdb76b;
  }
}
.nav__link:focus {
  color: #bdb76b;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 3px;
  background-color: #bdb76b;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media (min-width: 1025px) {
  .nav__link:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
  }
}
.nav__link:focus::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  -ms-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.choices__inner {
  display: none;
}

.choices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
}

.choices__item {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding-left: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.choices__item:first-child {
  padding: 0px 15px 0px 0px;
  position: relative;
}
.choices__item:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #fff;
}
@media (min-width: 1025px) {
  .choices__item:hover {
    color: #bdb76b;
  }
}

.is-selected {
  color: #bdb76b;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    width: 35px;
    height: 31px;
    color: #fff;
  }
  .burger__line {
    height: 3px;
    border-radius: 3px;
  }
  .burger::after {
    height: 3px;
    border-radius: 3px;
  }
  .burger::before {
    height: 3px;
    border-radius: 3px;
  }

  .nav-menu {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .menu--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    padding: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .nav__item {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .nav__icon {
    display: block;
    fill: #fff;
    width: 35px;
    height: 35px;
  }
}
.my-info {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.my-info__content {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(34, 60, 80, 0.36);
  box-shadow: 0px 0px 16px 7px rgba(34, 60, 80, 0.36);
  padding: 30px;
}
.my-info__subtitle {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.my-info__typed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 23px;
  margin-bottom: 20px;
  height: 100%;
}
.my-info__im {
  padding-right: 10px;
}
.my-info__title {
  padding: 0;
  margin: 0;
  font-size: 45px;
  color: #bdb76b;
}
.my-info__download-resume {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid #bdb76b;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.social__link {
  margin-right: 20px;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link svg {
  width: 35px;
  height: 35px;
  fill: #918888;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
@media (min-width: 1025px) {
  .social__link svg:hover {
    fill: #bdb76b;
  }
}

.typed-cursor {
  color: #bdb76b;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .my-info__title {
    font-size: 31px;
  }
}
@media (max-width: 768px) {
  .my-info__subtitle {
    margin-bottom: 10px;
  }
  .my-info__typed {
    font-size: 11px;
  }
  .my-info__title {
    font-size: 22px;
  }

  .social {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .my-info {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0px 0px 90px;
  }
  .my-info__im {
    padding-right: 5px;
  }
  .my-info__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 30px 0px;
  }

  .social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social .social__link svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 340px) {
  .my-info__typed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.about {
  position: relative;
  z-index: 2;
}
.about__content {
  margin-bottom: 100px;
}
.about__image {
  height: 350px;
  width: 550px;
}
.about__image img {
  width: 100%;
  height: 100%;
}
.about__text {
  text-indent: 30px;
  line-height: 1.6;
  font-size: 19px;
  margin: 0;
  margin-bottom: 50px;
}
.about__skills {
  margin-bottom: 100px;
}
.about__priorities {
  margin-bottom: 100px;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}
.skills__item:last-child {
  margin: 0;
}
.skills__progress {
  margin-bottom: 20px;
}
.skills__progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: transparent;
  overflow: hidden;
}
.skills__progress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#111111));
  background: -o-linear-gradient(bottom, #000000 0%, #111111 100%);
  background: linear-gradient(0deg, #000000 0%, #111111 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}
.skills__progress-num {
  font-size: 25px;
  font-weight: 700;
}
.skills__progress-bar {
  position: absolute;
  bottom: -100%;
  width: 100px;
  height: 100px;
  background-color: #bdb76b;
  -webkit-transition: bottom 4s;
  -o-transition: bottom 4s;
  transition: bottom 4s;
}
.skills__title {
  font-size: 20px;
}

.priorities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.priorities__item:last-child {
  margin: 0;
}
.priorities__icon {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-right: 20px;
}
.priorities__info {
  max-width: 70%;
}
.priorities__title {
  font-size: 30px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.priorities__title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #bdb76b;
}
.priorities__text {
  font-size: 19px;
  margin: 10px 0px 0px;
}

.reviews__wrapper {
  padding-bottom: 30px;
}
.reviews__item {
  padding: 10px;
  max-width: 70%;
  margin: 0 auto;
}
.reviews__text {
  margin: 0;
  font-size: 21px;
  margin-bottom: 10px;
}
.reviews__author {
  font-size: 19px;
  color: #918888;
}
.reviews .swiper-button-next::after,
.reviews .swiper-button-prev::after {
  color: #bdb76b;
  font-size: 31px;
  font-weight: bold;
}
.reviews .swiper-pagination {
  display: none;
}
.reviews .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.reviews .swiper-pagination-bullet-active {
  background-color: #bdb76b;
}

@media (max-width: 576px) {
  .about__image {
    width: 100%;
  }
  .about__image img {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .about__text {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .about__content {
    margin-bottom: 70px;
  }
  .about__skills {
    margin-bottom: 70px;
  }
  .about__priorities {
    margin-bottom: 70px;
  }

  .skills__item {
    margin: 0;
  }
  .skills__item:not(:last-child) {
    margin-right: 15px;
  }
  .skills__progress-circle {
    width: 80px;
    height: 80px;
  }
  .skills__progress-content {
    width: 70px;
    height: 70px;
  }
  .skills__progress-bar {
    width: 80px;
    height: 80px;
  }
  .skills__title {
    font-size: 15px;
  }
  .skills__progress-num {
    font-size: 19px;
  }

  .priorities__info {
    max-width: 100%;
    width: 100%;
  }
  .priorities__title {
    font-size: 23px;
  }
  .priorities__text {
    font-size: 17px;
  }

  .reviews__item {
    max-width: 100%;
  }
  .reviews .swiper-button-next,
.reviews .swiper-button-prev {
    display: none;
  }
  .reviews .swiper-pagination {
    display: block;
  }
}
@media (max-width: 400px) {
  .priorities__icon {
    width: 35px;
    height: 35px;
  }
  .priorities__title {
    font-size: 19px;
  }
  .priorities__text {
    font-size: 17px;
  }
}
.portfolio {
  position: relative;
  z-index: 2;
}
.portfolio__item {
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
}
.portfolio__item:not(:last-child) {
  margin-right: 70px;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.portfolio__item-title {
  color: #bdb76b;
  font-size: 23px;
  cursor: pointer;
  text-decoration: underline;
  z-index: 10;
}

.tabs__panel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.tabs__nav {
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tabs__nav-item {
  margin-right: 30px;
}
.tabs__nav-item:last-child {
  margin: 0;
}
.tabs__nav-btn {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 27px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.tabs__nav-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 100%;
  height: 3px;
  background-color: #bdb76b;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.tabs__nav-btn:focus {
  background: none;
  color: #bdb76b;
}
.tabs__nav-btn--active {
  color: #bdb76b;
}
.tabs__nav-btn--active::after {
  -webkit-transform: translateX(-50%) scaleX(1);
  -ms-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}
.tabs__content {
  border: none;
}

@media (max-width: 1024px) {
  .portfolio__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .tabs__panel-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tabs__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .tabs__nav-item {
    margin: 0;
  }
  .tabs__nav-btn {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .tabs__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tabs__nav-item {
    margin-bottom: 20px;
  }
  .tabs__nav-item:last-child {
    margin: 0;
  }
  .tabs__nav-btn {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .tabs__nav-btn {
    font-size: 21px;
  }
}
.contacts {
  position: relative;
  z-index: 2;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contacts__form {
  max-width: 400px;
  width: 100%;
  margin-right: 100px;
}
.contacts__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.contacts__icon {
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}
.contacts__icon svg {
  width: 40px;
  height: 40px;
  fill: #bdb76b;
}
.contacts__phone, .contacts__email {
  font-size: 21px;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 1025px) {
  .contacts__phone:hover, .contacts__email:hover {
    color: #bdb76b;
  }
}
.contacts__adress {
  font-size: 21px;
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
}
.form__input {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  color: #bdb76b;
}
.form__input:focus {
  border-bottom: 2px solid #bdb76b;
  color: #bdb76b;
}
.form__textarea {
  color: #918888;
  resize: none;
  padding-bottom: 0;
}
.form__btn {
  font-weight: 600;
  padding: 10px 20px;
  background-color: #bdb76b;
  width: 100%;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 1025px) {
  .form__btn:hover {
    background-color: #000;
  }
}
.form__btn:focus {
  background-color: #000;
}

@media (max-width: 768px) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__form {
    margin: 0 0 50px 0;
  }
  .contacts__connect {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .contacts__phone, .contacts__email, .contacts__adress {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .contacts__icon {
    width: 50px;
    height: 50px;
  }
  .contacts__icon svg {
    width: 30px;
    height: 30px;
  }
  .contacts__form {
    margin-bottom: 30px;
  }
}
.footer {
  position: relative;
  z-index: 2;
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.9);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .social {
  margin-bottom: 10px;
}
.footer .social__link {
  margin-right: 10px;
}
.footer .social__link:last-child {
  margin: 0;
}
.footer .social__link svg {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */