<section class="contacts bg-content contacts-scroll">
  <div
    class="contacts__content"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="title">
      <div class="title">
        <h2 class="main-title" lng-contactsTitle>Контакты</h2>
        <span class="big-title" lng-contactsBigTitle>Контакты</span>
      </div>
    </div>
    <div class="contacts__inner">
      <div class="contacts__form">
        <form
          action="#"
          class="form"
          method="POST"
          enctype="multipart/form-data"
        >
          <h2 class="form__title" lng-contactsRequest>Оставь заявку</h2>
          <div class="form__group">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input form__input-name"
              lng-contactsInputName
              placeholder="Имя"
            />
          </div>

          <div class="form__group">
            <input
              type="tel"
              name="Телефон"
              class="input-reset form__input form__input-tel"
              lng-contactsInputPhone
              placeholder="Номер телефона"
            />
          </div>

          <div class="form__group">
            <textarea
              name="Сообщение"
              class="input-reset form__input form__textarea"
              placeholder="Сообщение"
            ></textarea>
          </div>
          <button class="btn-reset form__btn" lng-contactsSend>
            Отправить
          </button>
        </form>
      </div>
      <div class="contacts__info">
        <div class="contacts__about">
          <div class="contacts__connect">
            <div class="contacts__icon">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
            </div>
            <a class="contacts__phone" href="tel:375257689754"
              >+ 375 (25) 768-97-54</a
            >
          </div>
          <div class="contacts__connect">
            <div class="contacts__icon">
              <svg>
                <use xlink:href="img/sprite.svg#email"></use>
              </svg>
            </div>
            <a class="contacts__email" href="mailto:vreutsky77@mail.ru"
              >vreutsky77@mail.ru</a
            >
          </div>
          <div class="contacts__connect">
            <div class="contacts__icon">
              <svg>
                <use xlink:href="img/sprite.svg#adress"></use>
              </svg>
            </div>
            <h3 class="contacts__adress" lng-contactsAdress>
              Беларусь, г. Минск
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
