<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="social">
        <a
          class="social__link"
          href="https://www.linkedin.com/in/vitaly-reutsky-a1b953209/"
          target="blank"
        >
          <svg class="linkedin">
            <use xlink:href="img/sprite.svg#link"></use>
          </svg>
        </a>

        <a
          class="social__link"
          href="https://github.com/vitalyreutsky"
          target="blank"
        >
          <svg class="github">
            <use xlink:href="img/sprite.svg#gh"></use>
          </svg>
        </a>

        <a class="social__link" href="https://t.me/vreutsky" target="blank">
          <svg class="telegram">
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>

        <a
          class="social__link"
          href="https://www.instagram.com/vreutsky"
          target="blank"
        >
          <svg class="instagram">
            <use xlink:href="img/sprite.svg#insta"></use>
          </svg>
        </a>

        <a class="social__link" href="https://vk.com/vreutsky77" target="blank">
          <svg class="vkontakte">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
      <div class="footer__copyright" lng-footer>Все права защищены ©</div>
    </div>
  </div>
</footer>
