<header class="header" id="header">
  <div class="header__container container">
    <div class="toggle-lang">
      <span class="toggle-lang__ru">РУС</span>
      <input type="checkbox" class="toggle-lang__checkbox" />
      <span class="toggle-lang__eng">ENG</span>
    </div>
    <nav class="nav-menu" data-menu>
      <ul class="nav__list">
        <li class="nav__item">
          <svg class="nav__icon">
            <use xlink:href="img/sprite.svg#home"></use>
          </svg>
          <a class="nav__link" href="#" data-scroll>Главная</a>
        </li>
        <li class="nav__item">
          <svg class="nav__icon">
            <use xlink:href="img/sprite.svg#about"></use>
          </svg>
          <a class="nav__link" href="#" data-scroll>Обо мне</a>
        </li>
        <li class="nav__item">
          <svg class="nav__icon">
            <use xlink:href="img/sprite.svg#portfolio"></use>
          </svg>
          <a class="nav__link" href="#" data-scroll>Портфолио</a>
        </li>
        <li class="nav__item">
          <svg class="nav__icon">
            <use xlink:href="img/sprite.svg#contacts"></use>
          </svg>
          <a class="nav__link" href="#" data-scroll>Контакты</a>
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
