<header class="header fix-block">
  <div class="header__container container">
    <select class="change-lang js-choice">
      <option value="en">EN</option>
      <option value="ru">РУС</option>
    </select>

    <nav class="nav-menu" data-menu>
      <ul class="nav__list">
        <li class="nav__item">
          <a
            class="nav__link"
            href="#"
            lng-navMain
            data-goto=".main-scroll"
            data-menu-item
            >Главная</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#"
            lng-navAbout
            data-goto=".about-scroll"
            data-menu-item
            >Обо мне</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#"
            lng-navPortfolio
            data-goto=".portfolio-scroll"
            data-menu-item
            >Портфолио</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link"
            href="#"
            lng-navContacts
            data-goto=".contacts-scroll"
            data-menu-item
            >Контакты</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
