<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-rus"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content">Спасибо! Скоро свяжусь с тобой.</div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-en"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content">Thank you! I will contact you soon.</div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-whitestory"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content graph-modal__portfolio">
      <p class="graph-modal__descr" lng-modalTextWS>
        Сайт для стоматологической клиники White Story.
      </p>
      <a
        href="https://vitalyreutsky.github.io/whitestory/"
        class="graph-modal__link"
        target="_blank"
        lng-modalLinkWS
        >Перейти</a
      >
    </div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-sneaker-shop"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content graph-modal__portfolio">
      <p class="graph-modal__descr" lng-modalTextSS>
        Интернет-магазин мужской спортивной обуви
      </p>
      <a
        href="https://vitalyreutsky.github.io/sneaker-shop/"
        class="graph-modal__link"
        target="_blank"
        lng-modalLinkSS
        >Перейти</a
      >
    </div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-chisinau"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content graph-modal__portfolio">
      <p class="graph-modal__descr" lng-modalTextCh>
        Страница для молдавского сайта Chisinau Visit
      </p>
      <a
        href="https://vitalyreutsky.github.io/chisinau-visit/"
        class="graph-modal__link"
        target="_blank"
        lng-modalLinkCh
        >Перейти</a
      >
    </div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-spacetourism"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg class="modal-close">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content graph-modal__portfolio">
      <p class="graph-modal__descr" lng-modalTextST>
        Сайт для услуги космического туризма
      </p>
      <a
        href="https://vitalyreutsky.github.io/space-tourism/"
        class="graph-modal__link"
        target="_blank"
        lng-modalLinkST
        >Перейти</a
      >
    </div>
  </div>
</div>
