<div
  class="my-info main-scroll"
  data-aos="fade-up"
  data-aos-duration="2000"
  data-aos-once="true"
>
  <div class="my-info__content">
    <h3 class="my-info__subtitle">Привет!</h3>
    <h1 class="my-info__title">
      Я <span class="for-typed">Виталий Реутский</span>
    </h1>
    <div class="social">
      <a
        class="social__link"
        href="https://www.linkedin.com/in/vitaly-reutsky-a1b953209/"
        target="blank"
      >
        <svg class="linkedin">
          <use xlink:href="img/sprite.svg#link"></use>
        </svg>
      </a>

      <a
        class="social__link"
        href="https://github.com/vitalyreutsky"
        target="blank"
      >
        <svg class="github">
          <use xlink:href="img/sprite.svg#gh"></use>
        </svg>
      </a>

      <a class="social__link" href="https://t.me/vreutsky" target="blank">
        <svg class="telegram">
          <use xlink:href="img/sprite.svg#telegram"></use>
        </svg>
      </a>

      <a
        class="social__link"
        href="https://www.instagram.com/vreutsky"
        target="blank"
      >
        <svg class="instagram">
          <use xlink:href="img/sprite.svg#insta"></use>
        </svg>
      </a>

      <a class="social__link" href="https://vk.com/vreutsky77" target="blank">
        <svg class="vkontakte">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
    </div>
    <a href="#" class="my-info__download-resume">Скачать мое резюме </a>
  </div>
</div>
