<section class="portfolio bg-content portfolio-scroll">
  <div
    class="portfolio__content"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="title">
      <div class="title">
        <h2 class="main-title" lng-portfolioTitle>Портфолио</h2>
        <span class="big-title" lng-portfolioBigTitle>Портфолио</span>
      </div>
    </div>

    <div class="tabs" data-tabs="portfolio">
      <ul class="tabs__nav">
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button" lng-portfolioMP>
            Многостраничные сайты
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button" lng-portfolioOS>
            Интернет-магазины
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            Landing-page
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="portfolio__item">
            <div class="portfolio__image">
              <picture>
                <source srcset="img/ws.avif" type="image/avif" />
                <source srcset="img/ws.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/ws.jpg"
                  class="image"
                  width="300"
                  height="500"
                  alt=""
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="portfolio__item"></div>
        </div>
        <div class="tabs__panel">
          <div class="portfolio__item"></div>
        </div>
      </div>
    </div>
  </div>
</section>
