<section class="portfolio bg-content portfolio-scroll">
  <div
    class="portfolio__content"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <div class="title">
      <div class="title">
        <h2 class="main-title" lng-portfolioTitle>Портфолио</h2>
        <span class="big-title" lng-portfolioBigTitle>Портфолио</span>
      </div>
    </div>

    <div class="tabs" data-tabs="portfolio">
      <ul class="tabs__nav">
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button" lng-portfolioMP>
            Многостраничные сайты
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button" lng-portfolioOS>
            Интернет-магазины
          </button>
        </li>
        <li class="tabs__nav-item">
          <button class="tabs__nav-btn btn-reset" type="button">
            Landing-page
          </button>
        </li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="tabs__panel-inner">
            <div class="portfolio__item">
              <picture>
                <source srcset="img/ws.avif" type="image/avif" />
                <source srcset="img/ws.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/ws.jpg"
                  class="image"
                  alt="White-story"
                />
              </picture>
              <a
                class="portfolio__item-title"
                lng-portfolioMoreWS
                target="blank"
                data-graph-path="modal-whitestory"
                data-graph-animation="fadeInUp"
                >Подробнее</a
              >
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__panel-inner">
            <div class="portfolio__item">
              <picture>
                <source srcset="img/sneaker-shop.avif" type="image/avif" />
                <source srcset="img/sneaker-shop.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/sneaker-shop.jpg"
                  class="image"
                  alt="Sneaker-shop"
                />
              </picture>
              <a
                class="portfolio__item-title"
                lng-portfolioMoreSS
                target="blank"
                data-graph-path="modal-sneaker-shop"
                data-graph-animation="fadeInUp"
                >Подробнее</a
              >
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__panel-inner">
            <div class="portfolio__item">
              <picture>
                <source srcset="img/chisinau.avif" type="image/avif" />
                <source srcset="img/chisinau.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/chisinau.jpg"
                  class="image"
                  alt="Chisinau"
                />
              </picture>
              <a
                class="portfolio__item-title"
                lng-portfolioMoreCh
                target="blank"
                data-graph-path="modal-chisinau"
                data-graph-animation="fadeInUp"
                >Подробнее</a
              >
            </div>

            <div class="portfolio__item">
              <picture>
                <source srcset="img/space-tourism.avif" type="image/avif" />
                <source srcset="img/space-tourism.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/space-tourism.jpg"
                  class="image"
                  alt="Space-tourism"
                />
              </picture>
              <a
                class="portfolio__item-title"
                lng-portfolioMoreST
                target="blank"
                data-graph-path="modal-spacetourism"
                data-graph-animation="fadeInUp"
                >Подробнее</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio__descr" lng-portfolioDescr>
      * большую часть работ можно посмотреть на github
    </div>
  </div>
</section>
