$font-family: "Mont", sans-serif;

$content-width: 1230px;
$container-offset: 15px;
$container-width: calc(($content-width) + ($container-offset) * 2);
$white-color: #fff;
$black-color: #000;
$bg-color: #010203;
$social-link-color: #918888;
$main-color: #bdb76b;
