// если вы хотите использовать sass-переменные - удалите root
// colors

$font-family: "Pol", sans-serif;
$content-width: 1170px;
$container-offset: 15px;
$container-width: calc(($content-width) + ($container-offset) * 2);
$white-color: #fff;
$black-color: #000;
$bg-color: #252323;
$social-link-color: #918888;
$main-color: #bdb76b;
